In [ ]:
import numpy as np      
import pandas as pd

<frozen importlib._bootstrap>:488: Warning: Numpy built with MINGW-W64 on Windows 64 bits is experimental, and only available for
testing. You are advised not to use it for production.

CRASHES ARE TO BE EXPECTED - PLEASE REPORT THEM TO NUMPY DEVELOPERS

- Build a dataframe of random features and two classes (code and slack)
- Build an NBC function that takes a dataframe as input
- Group both the classes separately
- Compute probabilities

In [5]:
data = {'mood':['Low', 'Mid', 'Active', 'Low', 'Active', 'Active', 'Low', 'Mid'],
 'Momentum':['No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
 'Materials present?':['No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'No'],
 'Outcome':['Slack', 'Code', 'Code', 'Slack', 'Code', 'Code', 'Slack', 'Slack'] }
df = pd.DataFrame(data)

In [6]:
df

     mood Momentum Materials present? Outcome
0     Low       No                 No   Slack
1     Mid      Yes                Yes    Code
2  Active      Yes                Yes    Code
3     Low      Yes                 No   Slack
4  Active       No                Yes    Code
5  Active      Yes                 No    Code
6     Low       No                 No   Slack
7     Mid      Yes                 No   Slack

In [12]:
df['Outcome'].unique()

array(['Slack', 'Code'], dtype=object)

In [26]:
a, b = np.unique(df, return_counts=True)
c = dict(zip(a, b))
print(c)

{'Active': np.int64(3), 'Code': np.int64(4), 'Low': np.int64(3), 'Mid': np.int64(2), 'No': np.int64(8), 'Slack': np.int64(4), 'Yes': np.int64(8)}

In [7]:
class_labels = df.groupby(by = df["Outcome"])
slack = class_labels.get_group('Slack')
code = class_labels.get_group('Code')

In [15]:
class_labels = df['Outcome'].unique()
class_grouped = df.groupby(by = df['Outcome'])
class1 = class_grouped.get_group(class_labels[0])
class2 = class_grouped.get_group(class_labels[0])

In [20]:
class1

  mood Momentum Materials present? Outcome
0  Low       No                 No   Slack
3  Low      Yes                 No   Slack
6  Low       No                 No   Slack
7  Mid      Yes                 No   Slack

In [ ]:
feat, counts = np.unique(class1['Momentum'], return_counts=True)
print(feat)
print
res = dict(zip(feat, counts))
#res.pop('Slack')
print(res)
for i in res:
    print(res[i]/len(class1))

['No' 'Yes']
[2 2]
{'No': np.int64(2), 'Yes': np.int64(2)}
0.5
0.5

In [127]:
li = ['a', 'b', 'c']
for i, key in enumerate(li):
    print(key)
    print(i)

a
0
b
1
c
2

In [22]:
class1.columns

Index(['mood', 'Momentum', 'Materials present?', 'Outcome'], dtype='object')

In [ ]:
class1[0]

In [17]:
class2

  mood Momentum Materials present? Outcome
0  Low       No                 No   Slack
3  Low      Yes                 No   Slack
6  Low       No                 No   Slack
7  Mid      Yes                 No   Slack

In [ ]:
slack

  mood Momentum Materials present? Outcome
0  Low       No                 No   Slack
3  Low      Yes                 No   Slack
6  Low       No                 No   Slack
7  Mid      Yes                 No   Slack

In [9]:
code

     mood Momentum Materials present? Outcome
1     Mid      Yes                Yes    Code
2  Active      Yes                Yes    Code
4  Active       No                Yes    Code
5  Active      Yes                 No    Code

     mood Momentum Materials present? Outcome
0     Low       No                 No   Slack
1     Mid      Yes                Yes    Code
2  Active      Yes                Yes    Code
3     Low      Yes                 No   Slack
4  Active       No                Yes    Code
5  Active      Yes                 No    Code
6     Low       No                 No   Slack
7     Mid      Yes                 No   Slack

In [25]:
d = {'a':1, 'b':2}
type(list((d.values())))

list

Outcome will be null in input dictionary

In [146]:
def nbc(data, inp, label):
    l = []
    for values in inp.values():
        l.append(values)
    #Set up individual classes with appended input row
    class_labels = np.unique(data[label])
    class_grouped = data.groupby(by = data[label])

    print("Class 1: ", class_labels[0])
    class1 = class_grouped.get_group(class_labels[0])

    print("Class 2: ", class_labels[1])
    class2 = class_grouped.get_group(class_labels[1])

    class1_prob = (len(class1))/len(data)
    class2_prob = (len(class2))/len(data)

    #Probability calculation
    print("Calculating class probability for ", class_labels[0])
    class1 = class1.drop(columns=label)
    prob1 = 1
    for i, col in enumerate(class1):
        feat, counts = np.unique(class1[col], return_counts=True)
        res = dict(zip(feat, counts))
        if l[i] in res:
            prob1 = prob1 * res[l[i]]/len(class1)
        else:
            prob1=0
    final_prob1 = prob1 * class1_prob
    print(final_prob1)

    print("Calculating class probability for ", class_labels[1])
    class2 = class2.drop(columns=label)
    prob2 = 1
    for i, col in enumerate(class2):
        feat, counts = np.unique(class2[col], return_counts=True)
        res = dict(zip(feat, counts))
        if l[i] in res:
            prob2 = prob2 * res[l[i]]/len(class2)
        else:
            prob2=0
    final_prob2 = prob2 * class2_prob
    print(final_prob2)


    if final_prob1 > final_prob2:
        print(f'{class_labels[0]} is the outcome')
    else:
        print(f'{class_labels[1]} is the outcome')

In [147]:
instance = {'mood':'Active', 'Momentum':'Yes', 'Materials present?':'Yes', 'Outcome':np.nan}

In [148]:
nbc(df, instance, 'Outcome')

Class 1:  Code
Class 2:  Slack
Calculating class probability for  Code
0.2109375
Calculating class probability for  Slack
0.0
Code is the outcome

Next step
- Add Alpha smoothing